<%= form_for [@board, @list] do |f| %>
<%= f.hidden_field "_method", :value => "put" %>
  <p>
		<%= f.label :name %><br>
		<%= f.text_field :name, :value => @list.name %>
	</p>
		<%= f.hidden_field :board_id, :value => @board.id %>
	<p>
		<%= f.submit %><br>
	</p>
<% end %>
