<%= form_for [@board, @list, @card] do |f| %>
<%= f.hidden_field "_method", :value => "put" %>
  <p>
		<%= f.label :name %><br>
		<%= f.text_field :name, :value => @card.name %>
	</p>
  <%= f.hidden_field :list_id, :value => @list.id %>
	<%= f.hidden_field :board_id, :value => @board.id %>
	<p>
		<%= f.submit %><br>
	</p>
<% end %>
